{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Create new Category</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('app_admin_category_index') }}" class="block mb-4 text-blue-500 hover:underline">Back to list</a>
{% endblock %}
